<!--app/assets/javascripts/templates/products.html-->
<br>
<div class="container">
    <aside class="flash row">
        <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
            {{flash.message}}
        </article>
    </aside>
    <!--<h3>Products</h3>-->
    <table style="width: 100%" st-table="displayedCollection" class="table table-striped" st-safe-src="rowCollection">
        <thead>
        <tr>
            <th><button class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span>
            </button></th>
           <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        <tr>
            <th><button class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span>
            </button></th>
            <th>Search Nearest Dimention</th>
            <th><input st-search="length" placeholder="Length" style="width: 100%"/></th>
            <th><input st-search="width"  placeholder="Width"  style="width: 100%"/></th>
            <th><input st-search="height" placeholder="Height" style="width: 100%"/></th>
            <th><input st-search="weight" placeholder="Weight" style="width: 100%"/></th>
        </tr>
        <tr>
            <th>
                <button class="btn btn-primary" ng-click="editProduct('new',null)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </th>
            <th st-sort="name"   st-sort-default="true" st-skip-natural="true">Name</th>
            <th st-sort="length" st-sort-default="true" st-skip-natural="true">Length</th>
            <th st-sort="width"  st-sort-default="true" st-skip-natural="true">Width</th>
            <th st-sort="height" st-sort-default="true" st-skip-natural="true">Height</th>
            <th st-sort="weight" st-sort-default="true" st-skip-natural="true">Weight</th>
            <th>Delete</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-hide="displayedCollection.length">
            <td colspan="5">No Products found, Please create one.</td>
        </tr>
        </tbody>
        <tbody ng-show="!isLoading">
        <tr ng-repeat="row in displayedCollection">
            <td>
                <button class="btn btn-success" ng-click="editProduct( 'edit', row)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
            <td style="width:250px">{{ row.name }}</td>
            <td style="width:80px">{{ row.length }}</td>
            <td style="width:70px">{{ row.width }}</td>
            <td style="width:70px">{{ row.height }}</td>
            <td style="width:80px">{{ row.weight }}</td>
            <td>
                <button class="btn btn-danger" ng-click="removeItem(row)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
        <tbody ng-show="isLoading">
        <tr>
            <td colspan="4" class="text-center">Loading ...</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td colspan="1" >

                    <h3 ng-show="edit">New</h3>

                    <h3 ng-hide="edit">Edit</h3>

            </td>
            <td class="text-center" colspan="4">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="11"></div>
            </td>
        </tr>

        <tr>
            <td>
                <button class="btn btn-primary" ng-click="save()" ng-disabled="error || incomplete">
                    <span class="glyphicon glyphicon-save"></span>
                </button>
            </td>
            <th><input type="text" placeholder="Name" ng-model="name" ng-disabled="!edit"></th>
            <th><input type="text" placeholder="Length" ng-model="length" style="width: 100%"/></th>
            <th><input type="text" placeholder="Width" ng-model="width" style="width: 100%"/></th>
            <th><input type="text" placeholder="Height" ng-model="height" style="width: 100%"/></th>
            <th><input type="text" placeholder="Weight" ng-model="weight" style="width: 100%"/></th>
        </tr>

        </tbody>
    </table>
    <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
        {{flash.message}}
    </article>
</div>
