<!DOCTYPE html>
<html lang="en">
<head>
  <style>
      .st-sort-ascent:before{
          content: '\25B2';
      }

      .st-sort-descent:before{
          content: '\25BC';
      }
  </style>
  <title>Angular Consumer</title>

  <!--<= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>-->

  <!--<= javascript_include_tag "application", "data-turbolinks-track" => true %>-->

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
